#name {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-size:100px;
  font-style: normal;
  text-align: center;
  font-variation-settings:
    "wdth" 100;

    ;

    background: linear-gradient(white, #D0D6B5);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
#header {
    background: linear-gradient(to right, #3083DC, #4E4187);
    padding: 20px 0px 20px 0px;
}
* {
    margin: 0px 0px 0px 0px;
  transition: all 0.5s ease;
}

body {
    margin: 20px;
    background: black;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}

.img > img {
    max-width: 100%;
  max-height: 100%;
    overflow: hidden;
}

.img {
    border-radius: 30px;
    width: 160px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
  overflow: hidden;

    user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}


br img {
    user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

.scroll_animate {
  opacity: 0;
  position: relative;
}

.scroll_down {
  top: 40px;
}

.img:hover{
    width: 180px;
    height: 200px;
}


#programming_languages {
  font-weight: 200;
  font-size: 30px;
  
  margin-right: 60px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

#bio {
    color: black;
    background: #73b4ba;

    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;

    border-radius: 27px;




  font-weight: 200;
  font-size: 50px;
}

#projects {
  font-weight: 200;
  font-size: 30px;

}

div.identifier {
    ;
}
#projects_list{
    padding-left: 30px;
}
div.project {
    display: block;
    background: white;
    color: black;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 40%;
    margin-bottom: 50px;
}
div.project:hover {
    transform: scale(1.1);
    margin-left: 50px;
}

._projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 20px;
}

._project{
    width: 100%;
    border-radius: 30px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 30px;
    overflow: hidden;
    font-size: 30px;
    background: linear-gradient(to bottom, white, #4a2563);
    flex: 0 1 400px;
}

._project:hover{
    transform: scale(1.1);
}
._project > img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    object-fit: cover;
}
._project_socials{
    font-size:25px;
    align-self: flex-end;
    position: relative;
    float: right;
    margin-right: 30px;
}

div.project > a{
    overflow-wrap: break-word;
    word-break: normal;
}
a {
    color: blue;
    text-decoration: none;
}
.description {
    font-size: 20px;
    display: block;
}
.project_youtube{
    font-size:25px;
    float: right;
}

.fa-youtube-play{
    color: red;
}

*, *::before, *::after {
  box-sizing: border-box;
}

#accounts {
    font-size: 30px;
}
